* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  padding: 0;
  margin: 0;
  list-style-type: none !important;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(90deg);
      animation-timing-function: ease-in;
  }
  50% {
      transform: rotate(180deg);
      animation-timing-function: ease-out;
  }
  75% {
      transform: rotate(270deg);
      animation-timing-function: ease-in;
  }
  100% {
      transform: rotate(360deg);
      animation-timing-function: ease-out;
  }
}

@keyframes shake {
  0% {
      filter: drop-shadow(0px 0px 6px #331841);
  }
  50% {
      filter: drop-shadow(0px 0px 12px #131841);
  }
  100% {
      filter: drop-shadow(0px 0px 6px #331841);
  }
}

@keyframes levitate {
  0% {
      box-shadow: 0px 0px 4px 0px #530453bd;
  }
  50% {
      box-shadow: 0px 0px 12px 0px #530453bd;
  }
  100% {
      box-shadow: 0px 0px 4px 0px #530453bd;
  }
}


body {
  background-color: black;
  display: flex;
}

.progress {
  width: 100%;
  position: absolute;
  z-index: 99;
  bottom: 0;
  height: 1% !important;
  transition: all 0.5s;
  background-color: #343a40;
  border-radius: 0;
}

.progress.hide {
  background-color: #343a4000;
}

.progress div {
  display: flex;
  background-color: #4a0e81;
  transition: all 0.5s;
}

.progress div.hide {
  background-color: #4a0e8100;
}

header {
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

header nav.bg-body-tertiary {
  background-color: #252035 !important;
}

header .container-fluid {
  height: 100%;
  background-color: #252035;
}

header a {
  text-align: center;
}

header .mainlogo {
  width: 45%;
  filter: drop-shadow(0px 0px 9px #331841);
  animation: shake 3s infinite;
}

header > nav {
  width: 100%;
  height: 100%;
}

header > nav > div {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

header .active.nav-link {
  background-color: #1e001e63;
  transition: all 0.5s;
}

header a.nav-link:hover {
  background-color: #87008763 !important;
}

header ul {
  display: flex;
  flex-direction: column !important;
}

header ul li.nav-item a {
  font-size: 22px;
  padding: 18px;
}

div.credit-div {
  height: 150px;
}

main {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 20vw;
  background-color: #16111c;
  position: relative;
}

main #data-info {
  height: 16vh;
  width: 96%;
  display: flex;
  justify-content: space-around;
}

main #data-info > .card {
  width: 23%;
  font-size: 28px;
  border: unset;
  --bs-body-bg: #252035;
  box-shadow: 0px 0px 4px 0px #530453bd;
  border-radius: 15px;
  border: 1px solid #4a0e81;
  animation: levitate 3s infinite;
}

.card p {
  padding: 0;
  margin: 0;
}

main #data-info > .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

main #data-info > .card .card-body i.fas{
  padding: 7px;
  font-size: 38px;
}

main #data-info > .card.card-birthday {
  width: 35%;
}

main #data-info > .card.card-birthday .card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
main #data-info > .card.card-birthday .card-body i.fas {
  font-size: 92px;
}

main #data-info > .card.card-birthday .card-body > div i {
  color: gray;
  font-size: 24px;
  font-weight: 300;
}

main #data-table {
  height: 72vh;
  width: 96%;
  overflow-y: scroll;
}

main #data-table table {
  --bs-body-bg: #252035;
}

main #data-table .td-nick i {
  font-size: 14px;
  color: gray;
  transition: all 0.5s;
}

main #data-table  tr:hover .td-nick i {
  color: black !important;
}


main #data-division {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252035;
  margin: 10px;
  padding: 5px 20px;
  border-radius: 2px;
}

main #data-division button {
  background-color: unset;
  border-radius: 50%;
}

main #data-division button i.fas.reloading {
  /* display: inline-block; Asegura que el ícono sea tratable como un elemento animable */
  animation: spin 1.5s infinite; /* Duración de 2 segundos, ciclo infinito */
}

main #data-table th {
  cursor: pointer;
}

main #data-table th section {
  display: flex;
  justify-content: center;
}

main #data-table th section i {
  display: flex;
  align-items: center;
  padding: 7px;
}

main #data-table th section span {
  display: flex;
  align-items: center;
  justify-content: center;
}

main #data-table th[data-state="0"] i.fa-caret-up, main #data-table th[data-state="0"] i.fa-caret-down {
  display: none;
}
main #data-table th[data-state="0"] i.fa-minus {
  display: flex;
}

main #data-table th[data-state="1"] i.fa-caret-up {
  display: flex;
}
main #data-table th[data-state="1"] i.fa-caret-down {
  display: none;
}
main #data-table th[data-state="1"] i.fa-minus {
  display: none;
}

main #data-table th[data-state="-1"] i.fa-caret-down {
  display: flex;
}
main #data-table th[data-state="-1"] i.fa-caret-up {
  display: none;
}
main #data-table th[data-state="-1"] i.fa-minus {
  display: none;
}

main #data-table tbody tr td, main #data-table tbody tr th {
  transition: all 0.5s;
  cursor: default;
  text-shadow: 0 0 5px #1b0551;
}

main #data-table tbody tr:hover td, main #data-table tbody tr:hover th {
  background-color: rgb(88, 88, 88) !important;
}

main #data-table td img {
  width: 30px;
  height: 30px;
}

main #data-table .td-center {
  text-align: center;
}

main #data-table .td-rating {
  font-size: 16px;
}

main #data-table .td-streak {
  font-size: 16px;
}

main #data-table .td-streak-positive i{
  background-color: rgba(25, 135, 84, var(--bs-bg-opacity, 1)) !important;
  padding: 2px 19px;
  border-radius: 8px;
}

main #data-table .td-streak-negative i{
  background-color: rgba(220, 53, 69, var(--bs-bg-opacity, 1)) !important;
  padding: 2px 19px;
  border-radius: 8px;
}

main #data-table .td-totalmatches {
  font-size: 16px;
}

main #data-table .td-wins {
  font-size: 16px;
}

main #data-table .td-losses {
  font-size: 16px;
}

main #data-table .td-winrate {
  font-size: 16px;
}

.swal2-popup {
  width: auto;
  background-color: #16111c;
  box-shadow: 0px 0px 30px 10px #530453bd;
  border-radius: 17px;
  color: white;
}

.player-overlay {
  display: flex;
  height: 75vh;
  width: 80vw;
}

.player-overlay .player-left {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.player-overlay .player-left h4{
  font-size: 32px;
  margin: 15px 0;
}

.player-overlay .player-left > i {
  color: gray;
  font-size: 24px;
  margin-bottom: 10px;
}

.player-overlay .player-left a {
  text-decoration: none;
  color: #D58A25;
  font-weight: 200;
}

.player-overlay .player-left a:hover {
  text-decoration: underline;
}

.player-overlay .player-right {
  width: 75%;
}

.player-overlay .player-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.player-overlay .player-cards > div {
  background-color: white;
  color: black;
  width: 30%;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.player-overlay .player-cards > div .card-title {
  font-size: 14px;
  font-weight: 700;
}
.player-overlay .player-cards > div .card-rank {
  font-size: 28px;
}
.player-overlay .player-cards > div .card-rating {
  font-size: 16px;
  font-weight: 300;
}
.player-overlay .player-cards > div .card-alltimehigh {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.player-overlay .player-matches {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 0;
}

.player-overlay .player-matches .spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
}

.player-overlay .player-matches .every-match {
  display: flex;
  background-color: #252035;
  margin: 4px 0;
  padding: 8px;
  justify-content: space-between;
  position: relative;
}

.player-overlay .player-matches .every-match .match-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.player-overlay .player-matches .every-match:hover .every-match-info .match-mode {
  text-decoration: underline;
}

.player-overlay .player-matches .every-match > img {
  width: 10%;
  height: 10%;
  align-self: center;
}

.player-overlay .player-matches .every-match .every-match-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 10px;
  text-align: start;
  width: 13%;
}

.player-overlay .player-matches .every-match .every-match-info .match-mode {
  color: #D58A25;
  font-weight: 700;
}

.player-overlay .player-matches .every-match .every-match-info .match-duration, .player-overlay .player-matches .every-match .every-match-info .match-date {
  font-size: 14px;
}

.player-overlay .player-matches .every-match .every-match-teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 76%;
}

.player-overlay .player-matches .every-match .vs {
  color: #fff;
  padding: .7rem;
  background-color: #16111c;
  font-weight: bold;
  transform: skew(0);
}

.player-overlay .player-matches .every-match .every-match-teams ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  background-color: #16111c;
  width: 46%;
}

.player-overlay .player-matches .every-match .every-match-teams ul.team-one {
  align-items: start;
  text-align: start;
}

.player-overlay .player-matches .every-match .every-match-teams ul.team-two {
  align-items: end;
  text-align: end;
}

.player-overlay .player-matches .every-match .every-match-teams ul li {
  padding: 3px 7px;
  position: relative;
}

.player-overlay .player-matches .every-match .every-match-teams ul li .player-color {
  padding: 13px 3px;
  border-radius: 10px;
  position: absolute;
  background-color: white;
  top: 5px;
}

.player-overlay .player-matches .every-match .every-match-teams ul li .player-color.color-1 { background-color: blue; }
.player-overlay .player-matches .every-match .every-match-teams ul li .player-color.color-2 { background-color: red; }
.player-overlay .player-matches .every-match .every-match-teams ul li .player-color.color-3 { background-color: lime; }
.player-overlay .player-matches .every-match .every-match-teams ul li .player-color.color-4 { background-color: #ff0; }
.player-overlay .player-matches .every-match .every-match-teams ul li .player-color.color-5 { background-color: aqua; }
.player-overlay .player-matches .every-match .every-match-teams ul li .player-color.color-6 { background-color: #f0f; }
.player-overlay .player-matches .every-match .every-match-teams ul li .player-color.color-7 { background-color: #434343; }
.player-overlay .player-matches .every-match .every-match-teams ul li .player-color.color-8 { background-color: #ff8201; }

.player-overlay .player-matches .every-match .every-match-teams ul.team-one li .player-color {
  left: 0;
}

.player-overlay .player-matches .every-match .every-match-teams ul.team-two li .player-color {
  right: 0;
}

.player-overlay .player-matches .every-match .every-match-teams .won {
  border: 1px solid gold;
  position: relative;
}

.player-overlay .player-matches .every-match .every-match-teams .won-detail {
  display: none;
  position: absolute;
  right: -10px;
  top: -12px;
  color: gold;
  transform: rotate(30deg);
  font-size: 1.2rem;
}

.player-overlay .player-matches .every-match .every-match-teams .won .won-detail {
  display: flex;
}